* {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

.top_header {
    background-color: rgb(205, 255, 205);
    width: 100%;

}

h1 {
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    margin: 0;
    border-radius: 20px;
}

.main_content_of_introd {
    font-weight: 500;
}



.main_big_contents_box {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: 40px;
    background-color: rgb(175, 235, 255);
}

.sidebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hobbies {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 768px;
    justify-content: space-between;
}

.box_for_hobbies {
    width: 450px;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.big_box_for_hobb1 {
    display: flex;
    justify-content:space-between;
}

.hobb_1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hobb_2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

dt {
    font-weight: bold;
}

.footer_for_c_contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    height: 40px;
    font-size: smaller;
    background-color: rgb(205, 255, 205);
}

.footer_for_c_contact > p {
    margin: 0;
    padding: 0px 15px 0px 0px;
    font-weight: bold;
    color:rgb(40, 79, 40)
}